@model WAFC.Reports.Models.ForgotPasswordViewModel
@{
    ViewBag.PageTitle = "Forgot your password?";
    ViewBag.Description = "Forgot your password";
    Layout = "~/Views/Shared/_Empty.cshtml";
}


<div class="login-container animated fadeIn">
    <div class="loginbox bg-white">
        <div class="loginbox-title">@ViewBag.PageTitle</div>
        <div class="or"></div>
        @using (var form = Html.Bootstrap().Begin(new Form().Type(FormType.Vertical)))
        {
            <div class="loginbox-textbox">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            @Html.AntiForgeryToken()
            <div class="loginbox-textbox">
                @Html.Bootstrap().TextBoxFor(t => t.Email).Placeholder("Email")
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="loginbox-signup">
                @Html.Bootstrap().SubmitButton().Text("Email Link").Color(BootstrapColors.Danger).HtmlAttributes(new { @class = "center" })
            </div>
        }
    </div>
    <div class="logobox">
    </div>
</div>
