@model WAFC.Reports.Models.ResetPasswordViewModel
@{
    ViewBag.PageTitle = "Reset password";
    ViewBag.Description = "Reset password page";
    Layout = "~/Views/Shared/_Empty.cshtml";
}
@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Code)

    <div class="login-container animated fadeIn">
        <div class="loginbox bg-white">
            <div class="loginbox-title">@ViewBag.PageTitle</div>
            <div class="or"></div>

            <div class="loginbox-textbox">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            <div class="loginbox-textbox">
                @Html.Bootstrap().TextBoxFor(t => t.Email).Placeholder("Email")
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="loginbox-textbox">
                @Html.Bootstrap().PasswordFor(t => t.Password).Placeholder("Password")
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="loginbox-textbox">
                @Html.Bootstrap().PasswordFor(t => t.ConfirmPassword).Placeholder("Confirm Password")
            </div>
            <div class="loginbox-textbox">
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
            <div class="loginbox-submit">
                @Html.Bootstrap().SubmitButton().Text("SUBMIT").Color(BootstrapColors.Primary).ButtonBlock()
            </div>

        </div>
        <div class="logobox">
        </div>
       
    </div>


}


