@model WAFC.Reports.Models.MIRatesViewModel
@{
    //ViewBag.PageTitle = " Detailed report by transaction dates";
    //ViewBag.Description = " Detailed report by transaction dates";
    Layout = "~/Views/Shared/_Default.cshtml";
}
<div class="row">

    <div class="widget-body">

        <div class="horizontal-space"></div>
        <div>
            <div class="widget">
                <div class="widget-header ">
                    <span class="widget-caption">@ViewBag.PageTitle</span>
                    <div class="widget-buttons">
                        <a href="#" data-toggle="maximize">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a href="#" data-toggle="collapse">
                            <i class="fa fa-minus"></i>
                        </a>
                        <a href="#" data-toggle="dispose">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="horizontal-space"></div>

            </div>
        </div>

        <div class="horizontal-space"></div>


        <div class="row">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="pagination">
                    @using (Html.Bootstrap().Begin(new Form().Type(FormType.Inline).FormMethod(FormMethod.Post)))
                    {

                        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                        @Html.DropDownListFor(a => a.CountryId, Model.Countries, "--Select Country--", new { @class = "form-control", id = "CountryId", required = "required", title = "Select Country" })
                        @Html.ValidationMessageFor(model => model.Countries, "", new { @class = "text-danger" })
                        @Html.DropDownListFor(a => a.StartDate, Model.Sdate, "--Select Period--", new { @class = "form-control", id = "StartDate", required = "required", title = "Select Period" })
                        @Html.ValidationMessageFor(model => model.Sdate, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.Bootstrap().SubmitButton().Text("Filter").Color(BootstrapColors.Azure).HtmlAttributes(new { @class = "" })
                            <input type="hidden" id="hdnSdate" name="SdateText" />

                        </div>

                    }
                </div>
            </div>
        </div>


        <div class="horizontal-space"></div>
        @if (Model.StartDate != null)
        {
            <div class="flip-scroll">
                <hr class="wide" />
                <div class="btn-group">
                    <a class="btn btn-blue" href="javascript:void(0);">Export</a>
                    <a class="btn btn-blue  dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);"><i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu dropdown-blue">
                        <li>
                            <a href="#" onclick="return exportToExcel('TableGrants');">Grants</a>
                        </li>

                    </ul>
                </div>
                <hr class="wide" />



                <div class="tabbable">


                    <div class="tab-content">
                        <div id="home" class="tab-pane in active">
                            <table class="table table-hover table-striped table-bordered" id="TableGrants">

                                <thead class="flip-content bordered-palegreen">
                                    <tr>
                                        <th>
                                            Country/City
                                        </th>
                                        <th>
                                            Date from
                                        </th>
                                        <th>
                                            Date to
                                        </th>
                                        <th class='text-right'>
                                            Breakfast
                                        </th>
                                        <th class='text-right'>
                                            Lunch
                                        </th>
                                        <th class='text-right'>
                                            Dinner
                                        </th>
                                        <th class='text-right'>
                                            Incidentals
                                        </th>
                                        <th class='text-right'>
                                            Total
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @Html.Raw(HttpUtility.HtmlDecode(ViewBag.tdstr))
                                </tbody>
                            </table>
                        </div>



                    </div>
                </div>


            </div>
        }
        </div>
</div>

<!--Jquery Select2-->
<script src="~/assets/js/jquery.min.js"></script>
<script src="../assets/js/select2/select2.js"></script>
<script src="../assets/js/charts/morris/raphael-2.0.2.min.js"></script>
<script src="../assets/js/charts/morris/morris.js"></script>
<script src="../assets/js/charts/morris/morris-init.js"></script>
<!--Bootstrap Tags Input-->
<!--Bootstrap Date Picker-->
<script src="../assets/js/datetime/bootstrap-datepicker.js"></script>


@section PageScripts{
    
    <script type="text/javascript">
        function exportToExcel(tablename) {
            $("#" + tablename).table2excel({
                name: "Table2Excel",
                filename: tablename,
                fileext: ".xls"
            });
        }
    </script>
}
